<!-- header.component.html -->
<header class="p-4 bg-blue-500 text-white">
    <nav>
        <ul class="flex space-x-4">
            <li>
                <a routerLink="/user-list"
                    routerLinkActive="active"
                    class="hover:text-yellow-300">User List</a>
            </li>
            <li>
                <a routerLink="/add-user"
                    routerLinkActive="active"
                    class="hover:text-yellow-300">Add User</a>
            </li>
            <li>
                <a routerLink="/activity"
                    routerLinkActive="active"
                    class="hover:text-yellow-300">Activity</a>
            </li>
        </ul>
    </nav>
</header>