<header class="p-4 bg-blue-500 shadow-md mb-5">
    <nav class="flex justify-center">
        <ul class="flex space-x-8">
            <li>
                <a routerLink="/user-list"
                    class="text-white p-1"
                    routerLinkActive="border-b-2 border-white">User
                    List</a>
            </li>
            <li>
                <a routerLink="/add-user"
                    class="text-white p-1"
                    routerLinkActive="border-b-2 border-white">Add
                    User</a>
            </li>
            <li>
                <a routerLink="/workout"
                    class="text-white p-1"
                    routerLinkActive="border-b-2 border-white">Workout</a>
            </li>
        </ul>
    </nav>
</header>